@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* hero section start */
.hero{
  background: url('../img/bg/repair2.webp');
  height: 400px;  
  background-size: cover;  
  background-position: center;
}
.hero-overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.hero-heading{
  display: flex;
  height: 100%;
  justify-content: center;
  color: antiquewhite;
  padding-top: 7.7%;
  padding-left: 1.2%;
  font-size: 2.8rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}
/* hero section end */

/* home repair section start */
.home-repair, 
.home-repair1{
  width: 90%;
  margin: 5% auto;
  
}
.home-repair-container,
.home-repair-container1{
  display: flex;
  flex-wrap: wrap;
  
}
.home-repair-col,
.home-repair-col1{
  width: 40%;
  margin: auto;
 
}
.home-repair-col img,
.home-repair-col1 img{
  width: 100%;
}
.home-repair-col h1,
.home-repair-col1 h1{
  font-family: 'Mulish', sans-serif;
  margin-bottom: 20px;
  font-size: 2.5rem;
 
}
.home-repair-col p,
.home-repair-col1 p{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
.home-repair-col button,
.home-repair-col1 button{
  margin: 20px 0;
  padding: 5px 10px;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #243fe9 74%);
  /* background-color: #0077cc; */
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}
.home-repair-col button,
.home-repair-col1 button {
  position: relative;
    margin: 30px 0;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #243fe9 74%);
    opacity: 0.9;
    cursor: pointer;
  }
  .home-repair-col button:after,
.home-repair-col1 button:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.3em;
      background-image: linear-gradient(
          45deg,
          #2a2a72 0%,
          #243fe9 74%
      );
      transition: opacity 0.3s ease-out;
      z-index: 2;
      opacity: 0;
  }
  .home-repair-col button,
.home-repair-col1 button:hover:after {
    opacity: 1;
  }
  .home-repair-col button{
    width: 160px;
    height: 40px;
    margin-left: -2px;
    background-image: linear-gradient(
      45deg,
      #2a2a72 0%,
      #243fe9 74%
);
 }

.home-repair-col button,
.home-repair-col1 button > span {
      position: relative;
      z-index: 3;
  }
@media (max-width: 767px) {
    .home-repair-container,
    .home-repair-container1 {
      flex-direction: column;
      align-items: center;
    }
  
    .home-repair-col,
    .home-repair-col1 {
      width: 90%;
      
    }
  
    .home-repair-col:first-child {
      order: 2;
    }
  
    .home-repair-col:last-child {
      order: 1;
    }
  }

/* home repair section end */
